/Java/mi_primer_ aplicacion/nbproject/private/
/Java/mi_primer_ aplicacion/build/
/Java/hola/nbproject/private/
/Java/escuelaDigitallllllllllll/nbproject/private/
/Java/escuelaDigital/nbproject/private/
/Java/escuelaDigital/build/
/Java/Ingreso/nbproject/private/
/Java/Ingreso/build/
/Java/Actividad_Obligatoria/nbproject/private/
/Java/Actividad_Obligatoria/build/
/Java/calculadora/nbproject/private/
/Java/calculadora/build/
/Java/primeraWeb/target/
/Java/clase3/nbproject/private/
/Java/clase3/build/
