.rojo{
    background-color: red;
    color: yellow;
    width: 300px;
    height:300px;
    font-size: 250%;
}
#negro{
    background-color: black;
    color: white;
    width: 300px;
    height:300px;
    font-size: 250%;
}
div{
    display: flex;
    justify-content: space-around;
}
